html,
body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font: 19px / 23px Montserrat, "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 0.3em;
  border-radius: 0.3em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
  border-radius: 0.3em;
}

::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 0.3em;
}


@media (max-width: 768px) {
  .navbar {
    max-height: 24px !important;
    height: 24px !important;
  }
}


.custom-link {
  text-decoration: none;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  outline: 0 solid rgba(0, 72, 255, 0.071);
  border-radius: 4px;
  background: rgba(0, 72, 255, 0);

  &:hover {
      background: rgba(0, 72, 255, 0.071);
      outline: 8px solid rgba(0, 72, 255, 0.071);
      transition: 0.1s;
  }
}

.modal-mask {
  background: hsla(0,0%,100%,.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 9999;
}
