.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffefba;
    background: -webkit-linear-gradient(to bottom, #ffffff, #f1f1f5);
    background: linear-gradient(to bottom, #ffffff, #f1f1f5);
    
    // TODO: Delete this later
    height: 50rem;

}